<!DOCTYPE html>

<!-- Name: Jessica Vazquez-Estrada
Date: 11/15/2021 -->

<html lang="en">
	<head>
		<title>MUCSC</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="homepage.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body style="images/background-image: url('backgroundimg.jpg');">

		<nav class="navbar sticky-top navbar-expand-lg navbar-custom">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="" width="100" height="100" class="d-inline-block align-text-top">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" aria-current="page" href="index.html">HOME</a>
						<a class="nav-link" href="#">ABOUT</a>
						<a class="nav-link" href="#">EVENTS</a>
						<a class="nav-link" href="#">LEADERSHIP</a>
						<a class="nav-link" href="leadership.html">BLOG</a>
						<a class="nav-link" href="#">CONTACT</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="wrap">
			<div style="background-color:transparent;" class="jumbotron text-center">
				<h3 id='subsubtitle'> THE MIAMI UNIVERSITY </h3>
				<h1 id='title'>CYBER SECURITY CLUB</h1>
			</div>

			<div class="row row-cols-1 row-cols-md-4 g-4">
				<div class="col">
					<div style="background-color: #BA0005;" class="card text-white h-100">
						<img src="images/AndrewDePero.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title">Vice President</h4>
								<h5 class="card-subtitle mb-2">Andrew DePero</h5>
								<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							</div>
					</div>
				</div>
				<div class="col">
					<div style="background-color: #BA0005;" class="card card text-white h-100">
						<img src="images/SaraGrimes.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title">Secretary</h4>
								<h5 class="card-subtitle mb-2">Sara Grimes</h5>
								<p class="card-text">This is a short card.</p>
							</div>
					</div>
				</div>
				<div class="col">
					<div style="background-color: #BA0005;" class="card text-white h-100">
						<img src="images/JessicaVazquez.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title">Social Media Manager</h4>
								<h5 class="card-subtitle mb-2">Jessica Vazquez-Estrada</h5>
								<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
								<a href="https://www.linkedin.com/in/jessica-vazquez-3305a6217/" class="fa fa-linkedin"></a>
							</div>
					</div>
				</div>
				<div class="col">
					<div style="background-color: #BA0005;" class="card text-white h-100">
						<img src="images/NamHoang.jpeg" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title">Treasurer</h4>
								<h5 class="card-subtitle mb-2">Nam Hoang</h5>
								<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							</div>
					</div>
				</div>
				<div style="padding-top: 20px; padding-bottom: 20px;" class="col">
					<div style="background-color: #BA0005;" class="card text-white h-100">
						<img src="images/SumanBhunia.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title">Advisor</h4>
								<h5 class="card-subtitle mb-2">Dr. Suman Bhunia</h5>
								<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							</div>
					</div>
				</div>
			</div>
		</div>
		
		<div  class="footer">
			<p>Jessica Vazquez-Estrada © 2021</p>
		</div>
	</body>
</html>